.faShoppingCart{
    color: white;
    cursor: pointer;
    margin-top: 4vh;
    margin-right: 20px;
}

.nav-container {
    position: sticky;
    z-index: 3;
    top:0;
}

.navbar {
    display: flex;
    height: 15vh;
}

.enlace-cabecera-books {
    color: deeppink;
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    position: absolute;
    left: 1%;
}

.menu-libros-alquilados {
    color: white;
    cursor: pointer;
    margin-top: 3.5vh;
    position: absolute;
    left: 93%;
    font-size: 20px;
}

.enlace-cabecera-carrito {
    position: absolute;
    left: 97%;
}
