.book-catalogue {
    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
}

.book-catalogue_facets {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 0 auto;
    background-color: #444444;
    padding: 40px 30px;
}

.book-catalogue_facets-item {
    display: flex;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 30px; /*Separacion entre los elemetos*/
    padding: 10px;
    justify-content: center;
}

#spinner {
    font-size: 60px;
    animation: spinner 4s linear infinite;

}

.faSpinner {
    text-align: center;
    padding: 40px;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.libro-no-encontrado {
    text-align: center;
    font-size: 25px;
}
