.rented-books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 190px);
    gap: 70px; /*Separacion entre los elemetos*/
    justify-content: center;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.libros-alquilados > img {
    height: 180px;
}

.add-button{
    font-size: 30px;
    cursor: pointer;
}

h2 {
    text-align: center;
}