#lupa {
    font-size: 20px;
}

.search-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-box{
    position: relative;
}

.searchButton{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    border: none;
    background: none;
}

.searchInput {
    height: 30px;
    border-radius: 10px;
    padding: 5px 30px 5px 10px;
    width: 200px;
}