.cartContent {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 50px; /*Separacion entre los elemetos*/
    padding: 10px;
    justify-content: center;
}

.cartContent > img {
    height: 180px;
    text-align: center;
}

.cartContent > h3 {
    position: relative;
    margin-top: 40%;
}

.carritoVacio {
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.cart-delete-button {
    cursor: pointer;
    font-size: 25px;
}

.cart-items-total{
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 18px;
    right: 5px;
    position: absolute;
}

.titulo-carrito{
    text-align: center;
}