.cartContent {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 50px; /*Separacion entre los elemetos*/
    justify-content: center;
    padding: 10px;
}

.cartContent > img {
    height: 180px;
    text-align: center;
}

.cartContent > h3 {
    position: relative;
    margin-top: 50%;
}

.carritoVacio {
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.cart-delete-button {
    cursor: pointer;
    font-size: 25px;
}

.cart-items-total{
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 18px;
    right: 5px;
    position: absolute;
}

.boton-tramitar-alquiler{
    margin-top: 20px;
    padding: 8px 15px;
}
.elementos-carrito {
    text-align: center;
}