.cartContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}

.cartContent > img {
    height: 120px;
    width: 100px;
    text-align: center;
}

.carritoVacio {
    text-align: center;
}

.cart-delete-button {
    cursor: pointer;
}

.cart-items-total{
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 18px;
    right: 5px;
    position: absolute;
}