/* Estilo general en modo oscuro */
body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.footer > p {
    text-align: center;
}

.not-found {
    width: 100%;
}